{
	"root": true,
	"env": {
		"node": true,
		"es2021": true,
		"vue/setup-compiler-macros": true
	},
	"extends": [
		"prettier",
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:vue/vue3-recommended"
	],
	"plugins": [
		"@typescript-eslint",
		"prettier"
	],
	"parserOptions": {
		"extraFileExtensions": [
			".vue"
		],
		"parser": "@typescript-eslint/parser",
		"ecmaVersion": "latest",
		"project": "./tsconfig.eslint.json"
	},
	"rules": {
		"no-undef": 0,
		"@typescript-eslint/ban-ts-comment": 0,
		"@typescript-eslint/explicit-member-accessibility": 2,
		"@typescript-eslint/no-explicit-any": 0,
		"@typescript-eslint/no-non-null-assertion": 0,
		"vue/html-indent": 0,
		"vue/html-self-closing": [
			2,
			{
				"html": {
					"void": "always",
					"normal": "never",
					"component": "always"
				}
			}
		],
		"vue/max-attributes-per-line": 0,
		"vue/multi-word-component-names": 0,
		"vue/singleline-html-element-content-newline": 0
	}
}
