{
	"root": true,
	"env": {
		"browser": true,
		"node": true,
		"es2022": true
	},
	"extends": [
		"prettier",
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:astro/recommended"
	],
	"plugins": [
		"@typescript-eslint"
	],
	"parserOptions": {
		"parser": "@typescript-eslint/parser"
	},
	"ignorePatterns": [
		"*.d.ts",
		"*.vue",
		"node_modules"
	],
	"rules": {
		"@typescript-eslint/no-non-null-assertion": "off",
		"@typescript-eslint/ban-ts-comment": "off"
	},
	"overrides": [
		{
			"files": [
				"*.astro"
			],
			"parser": "astro-eslint-parser",
			"parserOptions": {
				"parser": "@typescript-eslint/parser",
				"extraFileExtensions": [
					".astro"
				]
			}
		}
	]
}
