[data-category] a {
	text-decoration: underline dashed var(--color-muted-foreground) 1px;
	text-underline-offset: 2px;
}

[data-category="dialogue"] p {
	max-width: 65ch;
}

[data-category="dialogue"][data-start="right"] p:nth-child(odd),
[data-category="dialogue"][data-start="left"] p:nth-child(even) {
	margin-left: auto;
	text-align: right;
}

[data-category="dialogue"][data-start="right"] p:nth-child(even),
[data-category="dialogue"][data-start="left"] p:nth-child(odd) {
	color: var(--color-muted-foreground);
}

[data-category="short-story"] {
	@apply prose-p:my-2;

	p:not(:has(.dinkus)) {
		text-indent: 4ch;
	}
}

@layer components {
	.dinkus::after {
		content: "* * *";
		color: var(--color-vintage-plum);
		display: inline-block;
		width: 100%;
		text-align: center;
	}
}
