@import "tailwindcss";
@import "./content.css";

@theme {
	--color-background: var(--color-white);
	--color-foreground: var(--color-zinc-950);
	--color-primary: var(--color-zinc-900);
	--color-primary-foreground: var(--color-white);
	--color-muted: var(--color-zinc-100);
	--color-muted-foreground: var(--color-zinc-500);
	--color-vintage-aloe: oklch(69.76% 0.1118 125.54);
	--color-vintage-denim: oklch(60.73% 0.0819 250.41);
	--color-vintage-peach: oklch(73.62% 0.1146 48.83);
	--color-vintage-plum: oklch(51.71% 0.1244 350.05);
	--color-vintage-wine: oklch(48.18% 0.1413 17.24);

	--font-sans: InterVariable, ui-sans-serif, sans-serif;
	--font-serif: "Noto Serif Display Variable", ui-serif, serif;
	--font-mono: "JetBrains Mono Variable", ui-monospace, monospace;

	--text-fluid-xs: clamp(0.89rem, -0.03cqi + 0.89rem, 0.87rem);
	--text-fluid-sm: clamp(1rem, 0.05cqi + 0.99rem, 1.04rem);
	--text-fluid-base: clamp(1.13rem, 0.16cqi + 1.09rem, 1.25rem);
	--text-fluid-lg: clamp(1.27rem, 0.31cqi + 1.2rem, 1.5rem);
	--text-fluid-xl: clamp(1.42rem, 0.49cqi + 1.32rem, 1.8rem);
	--text-fluid-2xl: clamp(1.6rem, 0.73cqi + 1.45rem, 2.16rem);
	--text-fluid-3xl: clamp(1.8rem, 1.04cqi + 1.59rem, 2.59rem);
	--text-fluid-4xl: clamp(2.03rem, 1.43cqi + 1.74rem, 3.11rem);
	--text-fluid-5xl: clamp(2.28rem, 1.91cqi + 1.9rem, 3.73rem);
	--text-fluid-6xl: clamp(2.57rem, 2.52cqi + 2.06rem, 4.48rem);
	--text-fluid-7xl: clamp(2.89rem, 3.27cqi + 2.23rem, 5.37rem);
}

/* https://stackoverflow.com/questions/45883243/ */
@utility blended {
	background: white;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

@utility absolute-center {
	top: 50%;
	left: 50%;
	translate: -50% -50%;
}

@utility flex-center {
	align-items: center;
	justify-content: center;
}

@layer base {
	* {
		scrollbar-width: none;
		/* prettier-ignore */
		font-feature-settings:
			"calt", /* Contextual alternates */
			"cv05", /* Lower-case L with tail */
			"cv11", /* Single-story a */
			"ss01", /* Open digits */
			"ss07"; /* Square punctuation */
	}

	*::-webkit-scrollbar {
		display: none;
	}

	h1 {
		font-size: var(--text-fluid-3xl);
		line-height: 1.2;
	}

	h2 {
		font-size: var(--text-fluid-2xl);
		line-height: 1.2;
	}

	blockquote {
		font-style: italic;
		padding-inline-start: 0.75rem;
		border-inline-start-width: 0.2rem;
		border-inline-start-color: var(--color-muted);

		p:first-of-type::before,
		p:first-of-type::after {
			content: '"';
		}
	}

	strong {
		font-weight: var(--font-weight-medium);
	}
}

@layer components {
	.focus:has(> li:hover) li:not(:hover) {
		filter: blur(2px);
	}

	.focus > * {
		transition: filter 500ms ease-in-out;
	}

	.period::after {
		content: ".";
		font-family: var(--font-sans);
		font-style: normal;
		color: var(--color-vintage-peach);
	}
}
