@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");

body {
	font-family: "Inter", sans-serif;
}

body::-webkit-scrollbar {
	height: 0;
	width: 0;
}

.dark body {
	color: white;
	background: theme("backgroundColor.neutral.900");
}

/* * {
	outline: red solid 1px;
}

*:nth-child(2n) {
	outline: blue solid 1px;
} */
