---
import { getEntry } from "astro:content";
import Container from "../components/container/Container.astro";
import quotes from "../data/quotes.json";
import Layout from "../layouts/Layout.astro";

export const prerender = false;

const entry = await getEntry("writing", "about");
const { Content } = await entry.render();

const quote = quotes[Math.floor(Math.random() * quotes.length)];
---

<Layout title="about">
	<Container class="mt-16 sm:mt-32">
		<article class="slide prose prose-zinc mx-auto dark:prose-invert">
			<div class="flex items-center">
				<h1 class="mb-1">{entry.data.title}</h1>

				<a href="https://github.com/xiBread" target="_blank" class="ml-3 flex">
					<span
						class="i-[octicon--mark-github-16] text-2xl opacity-50 transition-opacity hover:opacity-100"
					>
					</span>
				</a>
			</div>

			<div class="mb-10">
				<blockquote class="mb-2 whitespace-pre-wrap">"{quote.content}"</blockquote>

				<p class="mt-2 text-sm dark:text-zinc-400">
					&mdash; {quote.quotee + (quote.source ? ", " : "")}

					{
						quote.source && (
							<cite>
								{typeof quote.source === "object" ? (
									<a href={quote.source.url}>{quote.source.text}</a>
								) : (
									quote.source
								)}
							</cite>
						)
					}
				</p>
			</div>

			<Content />
		</article>
	</Container>
</Layout>

<style is:global>
	.slide > * {
		--slide-delay: 0;
		animation: slide 1s calc(var(--slide-delay) * 150ms) 1 both;
	}

	.slide > *:nth-child(1) {
		--slide-delay: 1;
	}

	.slide > *:nth-child(2) {
		--slide-delay: 2;
	}

	.slide > *:nth-child(3) {
		--slide-delay: 3;
	}

	.slide > *:nth-child(4) {
		--slide-delay: 4;
	}

	.slide > *:nth-child(5) {
		--slide-delay: 5;
	}

	.slide > *:nth-child(6) {
		--slide-delay: 6;
	}

	@keyframes slide {
		from {
			transform: translateY(-10px);
			opacity: 0;
		}

		to {
			transform: translateY(0);
			opacity: 100;
		}
	}
</style>
