@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.use-prose {
		@apply prose
			prose-neutral
			prose-h1:font-bold
			prose-h1:leading-tight
			dark:prose-invert
			dark:prose-p:text-neutral-400;
	}
}

:root {
	font-family: "Inter var", sans-serif;
}

html {
	scroll-behavior: smooth;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
	height: 0;
	width: 0;
}

/* * {
	outline: red solid 1px;
}

*:nth-child(2n) {
	outline: blue solid 1px;
} */
