@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: "Inter var", sans-serif;
	font-feature-settings: "ss01", "cv11";
}

html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
	height: 0;
	width: 0;
}

.with-prose {
	@apply prose
		prose-zinc
		dark:prose-invert
		prose-h1:text-4xl
		prose-h1:font-bold
		prose-h1:tracking-tight
		dark:prose-p:text-zinc-400
		sm:prose-h1:text-5xl/tight;
}
