---
import PhotoWallItem from "./PhotoWallItem.astro";
---

<div
	class="rellax relative z-20 flex items-center justify-center gap-5 overflow-hidden py-4 sm:gap-6"
	xyz="fade down duration-10 delay-2"
>
	<div class="xyz-in hidden flex-col gap-5 sm:gap-6 lg:flex" data-rellax-speed="3">
		<PhotoWallItem
			class="aspect-[2/3] w-36 lg:w-52"
			src="/portraits/abigail.jpg"
			width={1000}
			height={1500}
		/>
	</div>

	<div class="flex flex-col gap-5 sm:gap-6" data-rellax-speed="1">
		<PhotoWallItem
			class="xyz-in aspect-[4/3] w-44 md:w-52"
			src="/vox-obscura/sonder.jpg"
			xyz="inherit up delay-4"
			width={2000}
			height={1500}
		/>
		<PhotoWallItem
			class="xyz-in aspect-[3/4] w-44 md:w-52"
			src="/vox-obscura/halcyon.jpg"
			xyz="inherit delay-3"
			width={1500}
			height={2000}
		/>
	</div>

	<div class="xyz-in flex flex-col gap-5 sm:gap-6" xyz="inherit up delay-5" data-rellax-speed="0">
		<PhotoWallItem
			class="aspect-[2/3] w-72 lg:w-96"
			src="/portraits/sam.jpg"
			width={1000}
			height={1500}
		/>
	</div>

	<div class="flex flex-col gap-5 sm:gap-6" data-rellax-speed="1">
		<PhotoWallItem
			class="xyz-in aspect-[3/4] w-44 md:w-52"
			src="/portraits/angela.jpg"
			xyz="inherit up delay-3"
			width={1500}
			height={2000}
		/>
		<PhotoWallItem
			class="xyz-in aspect-[4/3] w-44 md:w-52"
			src="/vox-obscura/nocturnal.jpg"
			xyz="inherit delay-4"
			width={2000}
			height={1500}
		/>
	</div>

	<div class="xyz-in hidden flex-col gap-5 sm:gap-6 lg:flex" data-rellax-speed="3">
		<PhotoWallItem
			class="aspect-[2/3] w-36 lg:w-52"
			src="/portraits/emily.jpg"
			width={1000}
			height={1500}
		/>
	</div>
</div>

<script>
	import Rellax from "rellax";

	document.addEventListener("astro:page-load", () => {
		new Rellax(".rellax > div");
	});
</script>
