---
import type { HTMLAttributes } from "astro/types";
import { Image } from "astro:assets";
import url from "../lib/url";

export type Props = HTMLAttributes<"div"> & Parameters<typeof Image>[0];

const props = Astro.props;
---

<div
	class:list={[
		"relative flex-none overflow-hidden rounded-xl bg-zinc-200 dark:bg-zinc-900",
		props.class,
	]}
	xyz={props.xyz}
>
	<Image
		src={url(props.src as string, +props.width!, +props.height!)}
		width={props.width!}
		height={props.height!}
		alt={props.alt}
		fetchpriority="high"
		class="absolute inset-0 h-full w-full object-cover hover:cursor-pointer"
	/>
</div>
