---
import "@animxyz/core";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Lichtenberg from "../components/Lichtenberg.vue";

export interface Props {
	title?: string;
}

const props = Astro.props;
const title = props.title ? `${props.title} \u2022 olv.` : "olv.";
---

<html lang="en" class="antialiased">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<meta property="og:type" content="website" />

		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />

		<link rel="preconnect" href="https://rsms.me" />
		<link rel="stylesheet" href="https://rsms.me/inter/inter.css" />

		<title>{title}</title>
	</head>

	<body class="flex h-full flex-col bg-zinc-100 dark:bg-black dark:text-zinc-300">
		<Lichtenberg client:load />

		<div class="fixed inset-0 flex justify-center sm:px-8">
			<div class="flex w-full max-w-7xl lg:px-8">
				<div class="w-full ring-1 ring-zinc-200 backdrop-blur-[6px] dark:ring-zinc-800">
				</div>
			</div>
		</div>

		<div class="relative">
			<Header />

			<main>
				<slot />
			</main>

			<Footer />
		</div>
	</body>
</html>

<script is:inline>
	(() => {
		const useDark = matchMedia?.("(prefers-color-scheme: dark)").matches;
		const theme = localStorage.getItem("theme") ?? "auto";

		if (theme === "dark" || (useDark && theme !== "light")) {
			document.documentElement.classList.add("dark");
		}
	})();
</script>

<style>
	:root {
		--xyz-translate-default: 14px !important;

		font-family: "Inter var", sans-serif;
		font-feature-settings: "ss01", "cv11";
	}

	html {
		scrollbar-width: none;
	}

	html::-webkit-scrollbar {
		width: 0;
	}
</style>
