---
import type { GetStaticPaths } from "astro";
import { getCollection, type CollectionEntry } from "astro:content";
import Container from "../../components/container/Container.astro";
import Layout from "../../layouts/Layout.astro";

export const getStaticPaths: GetStaticPaths = async () => {
	const entries = await getCollection("writing");

	return entries.map((entry) => {
		return {
			params: {
				slug: entry.slug.split("/")[1],
			},
			props: { entry },
		};
	});
};

export interface Props {
	entry: CollectionEntry<"writing">;
}

const { entry } = Astro.props;
const { Content } = await entry.render();

const overrides: Record<string, string[]> = {
	dialogue: [
		"[&_p]:max-w-prose",
		entry.data.start === "odd" ? "dialogue-start-odd" : "dialogue-start-even",
	],
	"short-story": ["[&>p]:indent-[4ch]"],
};
---

<Layout title={entry.data.title}>
	<Container class="mt-14 lg:mt-28">
		<div class="mx-auto max-w-4xl">
			<article
				class:list={[
					"prose prose-zinc max-w-none dark:prose-invert [&_p]:whitespace-pre-wrap",
					...(overrides[entry.slug.split("/")[0]] ?? []),
				]}
			>
				<h1 class="text-5xl">{entry.data.title}</h1>
				<Content />
			</article>
		</div>
	</Container>
</Layout>
